{% extends "base.template" %}

{% import "macros/iam.template" as iam %}

{% block content %}
    "Resources": {
        "User1": {{ iam.user(username="tomasz.roszko", password="test", groups=["DevOps", "Developers"]) }}
    }
{% endblock %}