{% macro repository(name, description) %}
{
  "Type" : "AWS::CodeCommit::Repository",
  "Properties" : {
      "RepositoryDescription" : "{{ description }}",
      "RepositoryName" : "{{ name }}"
    }
}
{% endmacro %}