{% extends "base.template" %}

{% import "macros/codebuild.template" as codebuild %}

{% block content %}
    "Resources": {
        "Build1": {{ codebuild.codepipeline_build(name="Build1", role="RoleRef", description="Build Description", env_variables=build.build_variables) }}
    }
{% endblock %}